.block {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 45px rgba(0, 0, 0, .2);

  display: flex;
  align-items: center;
}

.block-item {
  text-align: center;
}

.block__item {
  width: 50%;
}

.block-item__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: $white;
  margin: 10px 0;
}

.block-item__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: $white;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}