@font-face {
  font-family: 'Europa';
  src: url("../fonts/Europa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Europa';
  src: url("../fonts/Europa-Bold.ttf");
  font-weight: 700;
}